section:nth-child(even) {
  background-color: #212121;
}
section:nth-child(odd) {
  background-color: #111111;
}

/* Header */
#header {
  width: 100%;
  height: 75vh;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
}

/* About me */
#about-me img.me {
  transition: all 0.5s ease 0s;
  width: 50%;
  opacity: 0.4;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
#about-me img.me:hover {
  opacity: 1;
}
@media (max-width: 592px) {
  #about-me .row {
    flex-direction: column-reverse;
  }
  #about-me img.me {
    width: 80%;
    margin-bottom: 1.5rem;
  }
}
#about-me .skill-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  list-style: none;
  margin: 0;
  padding: 0;
}
#about-me .skill-list > .skill-item {
  transition: all 0.5s ease 0s;
  margin-bottom: 0.5rem;
  font-size: 0.93rem;
  color: #bdbdbd;
}
#about-me .skill-list > .skill-item > i {
  color: #02d463;
}
#about-me .skill-list > .skill-item:hover {
  cursor: default;
  color: #02d463;
}

/* My Projects */
#projects .cs-card {
  padding: 0 !important;
}
.cs-card .card-header {
  padding: 0 !important;
}
.cs-card .card-header img {
  width: 100%;
  transition: all 0.5s ease 0s;
  opacity: 0.4;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
.cs-card:hover .card-header img {
  opacity: 1;
}
.cs-card .card-body {
  width: 95%;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #212121;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
.cs-card .card-body .project-title {
  padding-top: 10px;
  margin-bottom: 0;
}
.cs-card .card-body a {
  margin-right: 0.5rem;
  font-size: 1.03rem;
  text-decoration: none;
}

/* Contact me */
#contact form {
  width: 60%;
  margin: 0 auto;
}
#contact form .form-control {
  resize: none !important;
  padding: 0.5rem 1rem;
  background-color: #111111;
  border-color: #111111;
  color: #02d463;
  box-shadow: rgb(0, 0, 0) 0px 0px 5px;
  border: 2px solid #111111;
}
#contact form .form-control:active,
#contact form .form-control:focus {
  box-shadow: unset !important;
  border-color: #02d463;
}
#contact form label {
  color: #bdbdbd;
}
@media (max-width: 600px) {
  #contact form {
    width: 100%;
  }
}
