/* Profile */
#profile {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}
#profile img.me {
  transition: all 0.5s ease 0s;
  width: 11%;
  opacity: 0.4;
  box-shadow: rgb(0, 0, 0) 0px 0px 20px;
}
#profile img.me:hover {
  opacity: 1;
}

/* Links */
#links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#links button {
  width: 22.5%;
}

@media (max-width: 600px) {
  #profile {
    padding-top: 2rem;
  }
  #profile img.me {
    width: 50%;
  }
  #links button {
    width: 100%;
  }
}
